.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__link {
  opacity: 0.5;
  cursor: pointer;
}

.header__link_active {
  pointer-events: all;
  opacity: 1;
}

.header__link.header__link.header__link_disabled {
  pointer-events: none;
  color: brown;
  opacity: 1;
}
