.car__header {
  display: flex;
  align-items: center;
}

.car__state {
  margin-left: auto;
  font-size: 1.7rem;
}

.car__body {
  display: flex;
  align-items: center;
}
.car__image-wrapper {
  display: inline-block;
  margin-left: 1.2rem;
  margin-right: 0rem;
}
.car__image {
  width: 100%;
  height: 100%;

  border: 2px solid #222;
}

.car__track {
  display: flex;
  align-items: center;
  padding: 0 1.2rem 0 2.2rem;
  flex-grow: 1;
  position: relative;
  background: url('../../../../../assets/images/flag.png') no-repeat;
  background-size: 5.1rem;
  background-position: calc(100% - 8.8rem);
}
.car__track::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('../../../../../assets/images/road.jpg');
  background-position: center calc(50% + 0.2rem);
  background-size: 98% 44rem;
  z-index: -100;
  transform: skewX(-45deg);
}
.car__flag {
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  width: 3.2rem;
  height: 3.2rem;
  background: url('../../../assets/images/flag.png') no-repeat center center;
  background-size: cover;
}

.car__button {
  height: 4.2rem;
  width: 4.2rem;

  transition: all 0.3s;
}

.car__button:hover {
  scale: 1.1;
}
.car__button[disabled] {
  opacity: 0.5;
  scale: 0.95;
  cursor: auto;
}
@mixin button-icon($size: 4.2rem) {
  background-position: center center;
  background-size: $size;
}
.car__button_start {
  background: url('../../../../../assets/images/start.png') no-repeat;
  @include button-icon();
}

.car__button_stop {
  margin-left: 0.5rem;
  background: url('../../../../../assets/images/stop.png') no-repeat;
  @include button-icon();
}
.car__button_edit {
  background: url('../../../../../assets/images/edit.png') no-repeat;
  @include button-icon();
}
.car__button_delete {
  margin-left: 0.5rem;
  background: url('../../../../../assets/images/delete.png') no-repeat;
  @include button-icon();
}

.car__name {
  font-size: 2rem;
  margin-left: 1.2rem;
}
